@media screen and (max-width: 600px) {
    .nav, .footer{
        height:45px;
        line-height: 45px;
    }
    .nav{
        font-size: 2.3vw;
    }

    .wrapper-text h2{
        font-size: 1.3vw;
    }
    .footer{
        font-size: 11px;
    }
    .bg{
        height: 60vw;
    }

    .wrapper-text button{
        width: 40%;
        height: 35px;
        font-size: 1.8vw;
    }

    .makeitcount{
        min-height: 220px;
    }


}